#hamburgerIcon{
  width: 40px;
  height: 40px;
}

#checkbox{
  /*  using hidden checkbox for on-click */
  display: block;
  width: 40px;
  height: 45px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;

}

#menuList{
  /*adjust size and position of hamburger menu*/
  min-height: calc(100vh - 135px);
  position: absolute;
  width: 150px;
  margin: 13px 0 0 -30px;
  padding: 15px 50px 50px;
  background: #858585;


  /* animation for hamburger menu*/
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.2s cubic-bezier(0.1,0.2,0.1,1.0);
}

/* more animation to slide in from left */
#toggleMenu input:checked ~ ul{
  transform: none;
}

#menuList li{
  list-style-type: none;  /* remove bullet points if <li/> is used */
}

/* any items within the "list", <li/> or not will be formatted */
#formatChildren{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  text-align: center;
  padding: 10px 0;
}

