#hamburgerIcon{
  width: 40px;
  height: 40px;
}

#toggleMenu input
{
  /*  using hidden checkbox for on-click */
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;

}

#menu
{
  /*adjust size and position of hamburger menu*/
  min-height: calc(100vh - 135px);
  position: absolute;
  width: 150px;
  margin: 13px 0 0 -30px;
  padding: 15px 50px 50px;
  background: #858585;
  list-style-type: none;  /* remove bullet points*/

  /* Animation for hamburger menu*/
  transform-origin: 0 0;
  transform: translate(-100%, 0);
  transition: transform 0.2s cubic-bezier(0.1,0.2,0.1,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#toggleMenu input:checked ~ ul
{
  transform: none;
}